/* Summary Box */
#description-image {
  width: 255px;
  height:255px;
  float: left;
  margin-right: 80px;
}
.description-content {
  color: black;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
	padding: 10px 30px 40px;
  background-color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

/* From id on comparison page - header*/
#description-header {
    color:rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding-top: 15px; 
    padding-left: 4px;
}


/* Summary and Vizualization Headers*/
.description-header, .imageNav-header {
	color:rgb(0, 0, 0);
	font-size: 25px;
	font-weight: bold;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-top: 20px; 
	padding-left: 4px;
}

h3 {
  color:rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

/* Vizualization boxes*/
#imageNav-area {
  margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 30px 40px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  object-fit: contain;
}
#images{
  object-fit: contain;
  display: inline-block;
  flex-wrap: wrap
}

.imageNav-photo {
  width: 100%;
  height: 100%;
  object-fit:contain;
   max-height: 100%;
   max-width: 100%;    
   display: inline-block;
   margin: auto auto;
}


/* Navbar */

#bs-example-navbar-collapse-1 {
  max-height: 55px; 
  background-color: rgb(0, 0, 0); 
  font-size: 25px;
}
#logo {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  margin-left: 30px;
}
.dropdown {
  font-size: 25px;
  color: black;
}
.navbar {
  color: black;
  font-size: 25px;
}

.navigation .navbar-brand {
	color: rgb(0, 0, 0); 
	margin-left: 65px; 
	padding: inherit; 
	font-weight: bold; 
	background-color:rgb(0, 0, 0);
	font-family: Georgia, Times, "Times New Roman", serif;
}
